body {
    background: #666;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
    }

* {
-webkit-border-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border-radius: 30px;
 }

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

h2, section > p { text-align: center;
padding:10px;
margin-left: 20px;
}

article { 
display:block;
width: 100px;
margin-left: auto;
margin-right: auto;
padding: 1em;
}

p {
  height: 400px;
  width: 400px;
 margin:0;
 }
 
.space { 
line-height: .3em; 
}

.move { position: relative; 
top: 100px;
left: 300px; }

div #cougar {float: left;
background: #CC6666;}

div #lion {float: left;
background: #FFCC66; }

div #tiger {float: left;
background: #B26219;
}

img {
    display: block;
    width: 50%;
     }
    
 footer p { width: 50%;
        text-align: center;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
         }
             
/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }

nav {float: right;
}

nav ul{
list-style: none;
margin:left: 10px;
padding:10px;
}
nav li { 
float: left;
margin:left: 10px;
padding:10px;}

